DATABASE_URL="postgresql://postgres:POSTGRES_PASSWORD_HERE@localhost:5432/competenceo-db?schema=public"
SHADOW_DATABASE_URL="postgresql://postgres:POSTGRES_PASSWORD_HERE@localhost:5432/competenceo-db-shadow?schema=public"

# NextAuth (ajuste selon ton déploiement)
NEXTAUTH_SECRET="change-me"
NEXTAUTH_URL="http://localhost:3000"


